.MainChat
  .MainHeader
    .MainHeader__LeftHeader
      .MainHeader__LeftHeader__GroupName
        Test
      .MainHeader__LeftHeader__GroupMember
        Member : MenberName1, MenberName2
    = link_to "#", class: "MainHeader__RightHeader" do
      Edit
      
  .MainMessages
    = render @messages

  .MainFooter
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__InputBox
        = f.text_field :comment, class: 'Form__InputBox__message', placeholder: 'type a message'
        = f.label :image, class: 'Form__InputBox__image' do
          = icon('far', "image")
          = f.file_field :image, class: 'Form__InputBox__image--file'
      = f.submit 'Send', class: 'Form__submitBtn'
